* {
    box-sizing:border-box;
    
}

.clm { 
    float:left;
    width: 33.3%;
    padding: 10px;
    
}

.clm img {
    height: 200px;
    width: 300px;
}


h1 {
    color: red;
    font-size:large;
    text-align: center;
}

h4 {
color:lightblue;
margin: 10px;
}

p {
text-align: justify;
width: 90%;
margin: 10px;
}